#container {
    display: flex;
    background-color: #00cef5;
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.content h1 {
    margin-top: 120px;
    font-size: 64px;
    color: #ffff;
    font-weight: bold;
}

#add-task {
    margin-top: 40px;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 300px;
}

.content_add_task {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

#add_button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0050c3;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}
