#container {
    display: flex;
    background-color: #00cef5;
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.content h1 {
    margin-top: 120px;
    font-size: 64px;
    color: #ffff;
    font-weight: bold;
}

#add-task {
    margin-top: 40px;
    padding: 16px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 500px;
}

.content_add_task {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    box-sizing: border-box;
}

#add_button {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 16px;
    border: none;
    border-radius: 5px;
    background-color: #0050c3;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

#content_task_list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

#task_list {
    width: 100%;
    max-width: 500px;
}

#task_list li {
    background-color: #00A1BF;
    text-align: center;
    padding: 16px 120px 16px 24px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
}
