#container {
    display: flex;
    background-color: #00cef5;
    width: 100vw;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.content h1 {
    margin-top: 120px;
    font-size: 64px;
    color: #ffff;
    font-weight: bold;
}

#add-task {
    margin-top: 40px;
    padding: 16px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 500px;
}

.content_add_task {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    box-sizing: border-box;
}

#add_button {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 16px;
    border: none;
    border-radius: 5px;
    background-color: #0050c3;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
}

#content_task_list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
}

#task_list {
    width: 100%;
    max-width: 500px;
}

#task_list li {
    display: flex;
    background-color: #00A1BF;
    text-align: center;
    align-items: center;
    padding: 0px 0px 0px 16px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    margin-bottom: 40px;
    cursor: pointer;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #F87F7F;
    margin-left: auto;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

.task-animate {
    animation: fadeInShrink 0.5s ease-out forwards;
}

.task-animateOut {
    animation: fadeOutShrink 1.5s forwards;
}

@keyframes fadeOutShrink {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
    margin-bottom: -50px; /* Ajuda a "fechar" o buraco na lista */
  }
}

@keyframes fadeInShrink {
    0% {
        opacity: 0;
        /* Começa um pouco menor (0.8) e deslocado para cima opcionalmente */
        transform: scale(0.8) translateY(-10px);
        /* Mantém a altura zerada no início para não pular */
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    30% {
        /* Começa a aparecer e crescer rápido */
        opacity: 0.5;
        transform: scale(0.9) translateY(-5px);
    }
    100% {
        opacity: 1;
        /* Termina no tamanho natural */
        transform: scale(1) translateY(0);
        /* Permite que o elemento ocupe sua altura natural */
        max-height: 200px; /* Um valor alto o suficiente para qualquer tarefa */
    }
}