.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-content {
    background: #00CEF5;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
    color: white;
}

.modal-overlay.active .modal-content {
    transform: translateY(0);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
}

#close-modal-cancel {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-right: 14px;
    color: #FFF;
}

#close-modal-save {
    background-color: #FFF;
    border: none;
    color: #000000;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 900;
}

#modal-description {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    resize: none;
}

.modal-body h2 {
    font-size: 20px;
    margin-bottom: 4px;
}

#modal-title {
    font-size: 18px;
}